{{>head}}
{{>navbar}}
<div class="row">
    <div class="col-8">
        <h1>Memes</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quisquam, obcaecati rerum a ea nemo nostrum sequi dolorem aut vel nihil nam explicabo, commodi minus atque blanditiis qui, suscipit quo!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/inclusive.jpg" class="img-thumbnail">
    </div>
</div>
    
{{>footer}}   